@media (min-height: 500px) and (max-width: 500px) {
    .only-in-vertical-mode {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}
@media (max-height: 500px) or (min-width: 500px) {
    .only-in-vertical-mode {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

/* @media (width: 200) {
    .only-in-vertical-mode {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
} */

.big-caption img {
    object-fit: cover;
    object-position: top;
}

.big-caption > figcaption {
    font-size: 4em;
}

.custom-description {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.custom-description > p {
    font-size: 2rem !important;
    line-height: 3rem !important;
}
